body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #6a0dad; /* Roxo */
  color: #fff;
}

header {
  background: #4b0082; /* Roxo mais escuro */
  padding: 15px 0;
}

header h1 {
  margin: 0;
  color: #fff;
}

nav a {
  color: #fff;
  margin: 0 15px;
  text-decoration: none;
  font-weight: 600;
}

.hero {
  text-align: center;
  padding: 50px 20px;
}

.produtos .produto {
  background: #fff;
  color: #333;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.produtos .produto img {
  max-width: 100%;
  border-radius: 8px;
}

.btn {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 20px;
  background: #4b0082;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
  text-decoration: none;
}

.btn:hover {
  background: #9400d3;
}

footer {
  text-align: center;
  padding: 15px;
  background: #4b0082;
  color: #fff;
}
